In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("../data/csse_covid_19_data/csse_covid_19_daily_reports/05-12-2020.csv")

In [5]:
data.loc[data.Country_Region == "Argentina", ["Confirmed", "Deaths", "Recovered", "Active"]]

      Confirmed  Deaths  Recovered  Active
3060       6563     319       1862    4382

1369574

In [13]:
data.Hospitalization_Rate.describe()

count    32.000000
mean     14.756380
std       5.118221
min       7.398307
25%       9.915704
50%      14.037641
75%      18.025265
max      27.346867
Name: Hospitalization_Rate, dtype: float64

In [15]:
data.People_Hospitalized

0      1287.0
1         NaN
2         NaN
3      1564.0
4       485.0
5         NaN
6      3663.0
7      9389.0
8         NaN
9         NaN
10        NaN
11     7654.0
12     6130.0
13        NaN
14        NaN
15       81.0
16      210.0
17        NaN
18        NaN
19        NaN
20      660.0
21     1767.0
22        NaN
23      202.0
24     6287.0
25     7842.0
26        NaN
27     1799.0
28     1582.0
29        NaN
30       63.0
31        NaN
32        NaN
33      318.0
34        NaN
35      886.0
36    73143.0
37        NaN
38      122.0
39        NaN
40     4539.0
41      828.0
42      673.0
43        NaN
44        NaN
45     1307.0
46     1338.0
47      271.0
48     1363.0
49        NaN
50      535.0
51        NaN
52        NaN
53     4929.0
54        NaN
55        NaN
56     1877.0
57       67.0
Name: People_Hospitalized, dtype: float64